{% extends '@OroUI/actions/update.html.twig' %}
{% import '@OroUI/macros.html.twig' as UI %}
{% import '@OroDataGrid/macros.html.twig' as dataGrid %}
{% set formAction = entity.id ? path('marello_ticket_update', {id: entity.id}) : path('marello_ticket_create') %}

{% oro_title_set({params : {"%name%": entity.subject, '%entityName%': 'marello.ticket.entity_label'|trans} }) %}

{% block navButtons %}
    {{ parent() }}

    {{ UI.cancelButton(path('marello_ticket_index')) }}
    {% if is_granted('marello_ticket_update') %}
        {% set html = '' %}
        {% if is_granted('marello_ticket_view') %}
            {% set html = UI.saveAndCloseButton({
                'route': 'marello_ticket_view',
                'params': {'id': '$id'}
            }) %}
        {% endif %}
        {% set html = html ~ UI.saveAndStayButton({
            'route': 'marello_ticket_update',
            'params': {'id': '$id'}
        }) %}

        {{ UI.dropdownSaveButton({'html': html}) }}
    {% endif %}
{% endblock navButtons %}

{% block pageHeader %}
    {% if entity.id %}
        {% set breadcrumbs = {
            'entity':      entity,
            'indexPath':   path('marello_ticket_index'),
            'indexLabel': 'marello.ticket.entity_plural_label'|trans,
            'entityTitle': entity.subject|default('N/A'|trans)
        } %}
        {{ parent() }}
    {% else %}
        {% set title = 'oro.ui.create_entity'|trans({'%entityName%': 'marello.ticket.entity_label'|trans}) %}
        {% include '@OroUI/page_title_block.html.twig' with { title: title } %}
    {% endif %}
{% endblock pageHeader %}

{% block content_data %}
    {% set id = 'marello-ticket-category-edit' %}

    {% set dataBlocks = [
        {
            'title': 'marello.sections.general'|trans,
            'subblocks': [
                {
                    'data' : [
                    form_row(form.customer),
                    form_row(form.firstName),
                    form_row(form.lastName),
                    form_row(form.email),
                    form_row(form.phone),
                    form_row(form.owner),
                    form_row(form.assignedTo),
                    form_row(form.source),
                    form_row(form.priority)
                ]
                }
            ]
        },
        {
            'title': 'marello.sections.ticket'|trans,
            'subblocks': [
            {
                'data' : [
                form_row(form.category),
                form_row(form.subject),
                form_row(form.description),
                form_row(form.resolution)
            ]
            }
        ]
        }
    ] %}

    {% set data = {
        'formErrors': form_errors(form),
        'dataBlocks': dataBlocks
    }%}

    <div class="responsive-form-inner">
        {% set id = 'marello-ticket-edit' %}
        {{ parent() }}
    </div>
{% endblock content_data %}