{% extends '@OroUI/actions/view.html.twig' %}
{% import '@OroUI/macros.html.twig' as UI %}
{% import '@OroDataGrid/macros.html.twig' as dataGrid %}

{% oro_title_set({params : {"%id%": entity.id }}) %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity':      entity,
        'indexPath':   path('marello_ticket_index'),
        'indexLabel':  'marello.ticket.entity_plural_label'|trans,
        'entityTitle': entity.subject,
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block content_data %}
    {% set id = 'marello-ticket-view' %}
    {% set generalSubblocks = [] %}
    {% set generalInformation %}
        <div class="widget-content">
            <div class="row-fluid form-horizontal">
                <div class="responsive-block">
                    <div class="box-type1">
                        {{ UI.renderProperty('marello.ticket.customer.label'|trans, entity.customer) }}
                        {{ UI.renderProperty('marello.ticket.first_name.label'|trans, entity.firstName) }}
                        {{ UI.renderProperty('marello.ticket.last_name.label'|trans, entity.lastName) }}
                        {{ UI.renderProperty('marello.ticket.email.label'|trans, entity.email) }}
                        {{ UI.renderProperty('marello.ticket.phone.label'|trans, entity.phone) }}
                        {{ UI.renderProperty('marello.ticket.owner.label'|trans, entity.owner) }}
                        {{ UI.renderProperty('marello.ticket.assigned_to.label'|trans, entity.assigned_to) }}
                        {{ UI.renderProperty('marello.ticket.source.label'|trans, entity.source.source) }}
                        {{ UI.renderProperty('marello.ticket.priority.label'|trans, entity.priority.priority) }}
                    </div>
                </div>
            </div>
        </div>
    {% endset %}

    {% set dataBlocks = [
        {
            'title': 'marello.sections.general'|trans,
            'subblocks': [
            {'data' : [generalInformation]}
        ]
        }
    ] %}

    {% set marelloTicketGrid %}
        {{ dataGrid.renderGrid('marello-tickets-grid', {namingTypeId: entity.id}) }}
    {% endset %}

    {% set dataBlocks = dataBlocks|merge([{
        'title': 'marello.sections.marello_tickets_grid'|trans,
        'subblocks': [{
            'title': '',
            'useSpan': false,
            'data' : [marelloTicketGrid]
        }]
    }] ) %}

    {% set id = 'marelloTicketView' %}
    {% set data = { 'dataBlocks': dataBlocks } %}

    {{ parent() }}
{% endblock content_data %}